body {
    height: 100vh;
    width: 100%;
    margin: 20px;
}

.min-height {
    height: 80vh;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

hr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

tbody {
    border-top: 5px solid gray ;
    border-bottom:5px solid gray;

}

table, th, td {
    border: 4px double;
    padding-left: 3px;
    padding-right: 3px;
}



